<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/index/img/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../static/index/css/style.css">
    <title>Real Estate</title>
</head>
<body>
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="main">
        
                <div class="img_sec">
                    <div class="img_container">
                       <a href="{% url 'login_page' %}"> <img src="../static/index/img/admin.png" alt="image"></a>
                        <div>
                            Admin
                        </div>
                    </div>
            
                    <div class="img_container">
                       <a href="{% url 'register_page' %}"> <img src="../static/index/img/te.jpg" alt="image"></a>
                        <div>
                            Tenant
                        </div>
                    </div>
            
                </div>
            </div>
        </div>

    </div>
    
    
</body>
</html>